// xl
@media (min-width: 1200px) {
    .mainTavNavRecordContainer {
        width: 100%;
    }
}

// lg
@media (min-width: 900px) and (max-width: 1200px) {
    .mainTavNavRecordContainer {
        width: 100%;
    }
}

// md
@media (min-width: 600px) and (max-width: 900px) {
    .mainTavNavRecordContainer {
        width: 100%;
    }
}

// sm
@media (max-width: 600px) {
    .mainTavNavRecordContainer {
        width: 100%;
    }
}