/* 5 */
.ingresar-btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(154, 95, 177);
    // background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.ingresar-btn:hover {
    color: rgb(109, 52, 131);
    background: transparent;
    box-shadow: none;
}

.ingresar-btn:before,
.ingresar-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #6C3483;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.ingresar-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.ingresar-btn:hover:before,
.ingresar-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    margin: 20px;
}

.custom-ingresar-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}
