/* 5 */
.mod-btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.mod-btn:hover {
    background: transparent;
    box-shadow: none;
}

.mod-btn:before,
.mod-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #000080;
    transition: 400ms ease all;
}

.mod-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.mod-btn:hover:before,
.mod-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

button {
    margin: 0;
}

.custom-mod-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
}
